#search-widget-container{
  padding:20px;
  width:336px;
  height:280px;
  margin:30px;
  background:#FFFFFF;
  border:1px solid #BBBDBF;
  border-radius:6px;
  box-shadow:5px 5px 2px rgba(0,0,0,0.1);
}

.video{
  margin:10px;
}

.logo{
  width:150px;
}

.submitbutton{
  background:#fff;
  color:#3B91CF;
  font-family:verdana;
  font-weight:bold;
    font-size:12px;
  padding:5px;
  border-radius:6px;
border:1px solid  #3B91CF;
  cursor:pointer;
}

  .submitbutton:hover{
    background:#3B91CF;
    color:#fff;

  }

#widget-search-field{
    width:220px;
    margin:10px;

  }